.filters
  %span= 'Фильтры'
  #data_filter
    %span= 'По дате'
    %label От
    %input{:name => 'date_from', :size => 5}
    %label До
    %input{:name => 'date_from', :size => 5}
  #type_filter
    %span= 'По типу'
    %input{:name => 'date_from', :size => 5, :type => :select}