.filters
  %span= 'Фильтры'
  #data_filter
    %span= 'По дате'
    .date_block
      %label От
      %input{:name => 'begin_date', :id => 'begin_date'}
      .date_btn
    .date_block
      %label До
      %input{:name => 'end_date', :id => 'end_date'}
      .date_btn
  #type_filter
    - if types
      %span= 'По типу'
      = select_tag "type_id", options_from_collection_for_select(types, "id", "name"), {include_blank: true}