/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 */
body {
  background-image: url("/layout/l2.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
}

 .hidden{
  display: none;
 }

.main{
  position: absolute;
  height: 200px;
  width: 400px;
  
  top: 50%;
  left: 50%;
}

.main_block{
  border: 2px solid green;
  height: 756px;
}
.main_left{
  border: 2px solid gray;
  float:left;
  height: 95%;
  width: 20%;
}
.main_right{
  border: 2px solid gray;
  float:left;
  height: 95%;
  margin-left: 3%;
  width: 69%;
}

.sections, .section_block{
  clear: left;
  border: 2px solid grey ;
  border-radius: 10px;
  height: 200px;
  width: 200px;
  position: absolute;
  margin: -100px 0 0 0;
  top: 50%;
}



.category_block{
  margin-bottom: 10px
}

.category ul{
  border: 2px solid grey ;
  border-radius: 10px;
}

.category ul:hover{
  background: #faf3d2; /* Цвет фона под ссылкой */
  color: #800000; /* Новый цвет ссылки */
  border: 1px solid #634f36 /* Рамка вокруг ссылки */ 
  }

.section_block{
  margin-bottom: 10px
}

.content_block{
  display: block;
  height: 25%;
  margin-top: 20px;
  clear: both;
}

.team{
position: absolute;
margin-left:40px;
bottom: 8%;
}

.left{
  float: left;
}

.right{
  float: right;
  color: grey;
}


/* Section menu view */
.active{
  color: green;
}


.unactive{
 //border: 1px solid red;
}
/****************/

/* Content view */
.item_name{
  display: block;
  clear: right;
}

.item img.icon{
  display: block;
  float: left;
}
/****************/


/*** Thumb block view */
.thumb .item{
  float: left;
  height: 70px;
  width: 300px;
  margin: 0 10px 10px 0;
}

.thumb .item_info{
  float: left;
  /* width: 300px;*/
  margin: 0 5px 0 5px;
}

.thumb .item_info>p{
  height: 40px;
  /* width: 300px;*/
  margin: 0 0 0 0;
}

.thumb .description, .thumb .body {
 display:none; 
}


/**********************/


/*** Line block view */


/**********************/


/*** Table block view */



/**********************/

/********** Beauty ******/

.icon{
  height:40px;
  width:40px;
}

