form {
text-align: center;
border: 1px solid gray;
width: 500px;
margin:0 auto;

background-color: #ffffff;
 border: 2px solid #e4e4e4; /* Обводка кнопки */
 border-radius: 20px; /* Радиус закругленых углов кнопки */
 padding: 11px 34px 9px 36px; /* Внутреннии отступы кнопки */
 box-shadow: inset 0 0 2px; 
  opacity: 0.8;

}

select {
//color: #4B0082;
display: inline-block;
margin: 10px 10px 10px;
width: 30%;
}

textarea{
//color: #4B0082;
display: inline-block;
margin: 10px 10px 10px;
width: 30%;
height: 48px;
display: inline-block;
vertical-align: middle;
overflow: auto;
}
input {
color: #c9c9c9;
display: inline-block;
margin: 10px 10px 10px;
width: 30%;
}

label {
display: inline-block;
margin: 10px 10px 10px;
width: 30%;
}

input[type="submit"]:active{
color: black; /* Цвет текста ссылки */
 text-decoration: none; /* Убираем подчеркивание ссылки */
 //text-shadow: 1px 1px 1px LightSlateGray; /* добавляем тень для текста */
 background-color: #ffffff;
 border: 2px solid #e4e4e4; /* Обводка кнопки */
 border-radius: 20px; /* Радиус закругленых углов кнопки */
 padding: 10px 35px; /* Внутреннии отступы кнопки */
 //opacity: 0.8;

}


input[type="submit"] {
color: black; /* Цвет текста ссылки */
 text-decoration: none; /* Убираем подчеркивание ссылки */
 //text-shadow: 1px 1px 1px LightSlateGray; /* добавляем тень для текста */
 background-color: #ffffff;
 border: 2px solid #e1e1e1; /* Обводка кнопки */
 border-radius: 20px; /* Радиус закругленых углов кнопки */
 padding: 11px 34px 9px 36px; /* Внутреннии отступы кнопки */
 box-shadow: inset 0 0 2px; 
 opacity: 0.8;
}
.error {
  border: 1px solid red; /* Красная рамка для обязательных полей */
  color: orange;
}

.error_message{
  color: red;
}
/*.plus{
	width: 20px;
	height: 20px;
}*/

.element_place[description] {

}

.plus{
  //border: 1px solid #808080;
  display: inline-block;
  height: 25px;
  margin-bottom: -9px;
  width: 25px;
}

.active_block{
  background-color: #E8E8E8;
  border: 2px solid gray;
  border-radius: 10px;
}

.field_with_button{
  margin: 10px 0px 10px 25px 
}

/* TEXTAREA BLOCK */
.textarea_block{
  width: 100%;
  height: 50px;
  margin-bottom: -5px;
  //border: 1px solid gray;

}

.textarea_block label{
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}
.textarea_block textarea{
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  margin: 0;
  width: 31%;
}
/* END  TEXTAREA BLOCK */

/* HIDDEN BLOCK
.hidden{
  display: none;
  height: 40px
 }

 .hidden label{
  margin: 0;
}

 .hidden input{
  margin: 0;
}
*/